.col-md-8 {
    flex: 0 0 96.6666666667%;
    max-width: 96.6666666667%;
  }
.card-header {
    a {
        float: right;
        text-decoration: none;
        margin: 0px 20px;
    }
    a:nth-child(1) {
        float: left;
        text-decoration: none;
        margin: 0px 20px;
    }
}