.col-md-8 {
    flex: 0 0 96.6666666667%;
    max-width: 96.6666666667%;
  }
.card-header {
    a {
        float: right;
        text-decoration: none;
        margin: 0px 20px;
    }
    a:nth-child(1) {
        float: left;
        text-decoration: none;
        margin: 0px 20px;
    }

}
.buttons {
    display: inline-block;
    float: right;
    width: 100%;
    input,
    button,
    select,
    optgroup,
    textarea {

        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}
.index-main {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 15px;
    span {
        display: inline-block;
        width: 15%;
        text-align: center;
    }
}
span {
    display: inline-block;
    width: 15%;
    text-align: center;
}
.x {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.product-card {
    display: inline-block;
    width: calc(98% / 5);
    height: 340px;
    // background-color: #ffffdd;
    float: left;
    margin-left: 3px;
    margin-bottom: 3px;
    border: 1px dashed grey; 
    img {
        width: 100px;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100px;
        border: 1px dashed grey; 
        margin-left: calc(50% - 50px);
        margin-top: 5px;
    }
    h1 {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        color: black;
        text-align: center;
        font-family: 'Josefin Slab', serif;
    }
    a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
    span {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }
    p {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    button {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
}
.show {
    display: inline-block;
    width: 100%;
    border: 1px dashed grey; 
    img {
        display: inline-block;
        width: 150px;
        height: auto;
        float: left;

    }
    .showUser {
        display: inline-block;
        width: 100%;
    }
    .images {
        display: flex;
    
       
        align-items: center;
        justify-content: center;
        
    }
}

        
