.col-md-8 {
    flex: 0 0 96.6666666667%;
    max-width: 96.6666666667%;
  }
.card-header {
    a {
        float: right;
        text-decoration: none;
        margin: 0px 20px;
    }
    a:nth-child(1) {
        float: left;
        text-decoration: none;
        margin: 0px 20px;
    }

}
// .buttons * { 
//     position: relative;
//     display: inline-block;
//         float: right;
       
// }
.buttons {
    display: inline-block;
    float: right;
    width: 100%;
    input,
    button,
    select,
    optgroup,
    textarea {

        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}
.index-main {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 15px;
    span {
        display: inline-block;
        width: 15%;
        text-align: center;
    }
}
span {
    display: inline-block;
    width: 15%;
    // float: right;
    text-align: center;
}
.x {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
