@media (max-width: 576px) {
    .product-card {
        width: calc(98% / 2);
    }
    .category {
      width: 100%;
    }
  }
@media (min-width: 576px) {
    .product-card {
        width: calc(98% / 2); 
    }
    .category {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .product-card {
        width: calc(98% / 3);
    }
    .category {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .product-card {
        width: calc(98% / 4);
    }
    .category {
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .product-card {
        width: calc(98% / 5);
    }
    .category {
      width: 49%;
    }
  }